<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}LightningSale{% endblock %}</title>
        <link href="{{ asset('build/css/main.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container">
        <a class="navbar-brand d-sm-block d-md-block d-lg-none d-xl-none" href="#">LightningSale</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% block headerLeft %}
                {% endblock %}
            </ul>

            <h3 class="text-muted mr-auto">LightningSale</h3>

            <ul class="navbar-nav float-right">
                {% block headerRight %}
                {% endblock %}
            </ul>
        </div>
    </div>
    </nav>

    {% block body %}{% endblock %}


    <script src="{{ asset('build/js/main.js') }}"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
